<html>
<body ng-controller="DetailsController">
<h1>Track Information</h1>

<div>
    <image height="200px" width="200px" ng-src="{{model.details.album.images[1].url}}"></image>

</div>

<div>
    Name: {{model.details.name}}
</div>


<div>
    Id: {{model.details.id}}
</div>
<div>
    Album: {{model.details.album.name}}
</div>

<!--<div>
<a href="{{details.preview_url}}">Play</a>
</div>-->


<div ng-show="model.user">

    <button ng-show="model.liked" class="btn btn-danger"
            ng-click="model.removeLikedSong()">
        <span class="fa fa-star"></span>
    </button>

    <button ng-hide="model.liked" class="btn btn-secondary"
            ng-click="model.likeSong()">
        <span class="fa fa-star-o"></span>
    </button>

</div>

<div class="media">
    <div class="media-left">



        <audio ng-src="{{model.details.preview_url | trusted}}" audioplayer controls >
        </audio>

       <!-- <div ng-show="currentUser">
            <button class="btn btn-primary"
                    ng-click="model.favorite(details.id)">
    <span ng-show="model.song.likes.indexOf(currentUser._id) > -1"
          class="glyphicon glyphicon-star"></span>
    <span ng-show="!model.song || !model.song.likes || model.song.likes.indexOf(currentUser._id) == -1"
          class="glyphicon glyphicon-star-empty"></span>
            </button>

        </div>-->

     <!--   <div ng-hide="model.liked">
            <a ng-click="likeSong()">Like</a>
        </div>

        <div ng-show="model.liked">
            <a ng-click="removeLikedSong()">Unlike</a>
        </div>
-->


    </div>
</div>

<!--<div ng-show="currentUser">

    <button ng-show="model.liked" class="btn btn-danger"
            ng-click="model.removeLikedSong()">
        <span class="fa fa-star"></span>
    </button>

    <button ng-hide="model.liked" class="btn btn-secondary"
            ng-click="model.likeSong()">
        <span class="fa fa-star-o"></span>
    </button>

</div>-->

<div class="chat">
    <h3 ng-hide="model.comments">None!</h3>
    <div ng-show="model.comments" >
        <div class="bubble me" ng-repeat="comment in model.comments">
            <a href="#/profile/{{comment.userID}}">{{comment.username}} : </a> {{comment.comment}}
        </div>
    </div>
</div>


</body>
</html>