<html>
<body ng-controller="DetailsController">
<h1>Track Information</h1>

<div>
    <image height="200px" width="200px" ng-src="{{details.album.images[1].url}}"></image>

</div>

<div>
Name: {{details.name}}
</div>

<div>
    Album: {{details.album.name}}
</div>

<!--<div>
<a href="{{details.preview_url}}">Play</a>
</div>-->

<div ng-show="currentUser">
    Comment:

     <textarea placeholder="Comment" class="form-control"></textarea>


</div>


    <div class="media">
        <div class="media-left">



        <audio ng-src="{{details.preview_url | trusted}}" audioplayer controls>
    </audio>


            <button ng-show="currentUser" class="btn btn-primary" ng-click="likeSong(details.name)">

                <span class="glyphicon glyphicon-star"></span>

            </button>

        </div>

</body>
</html>