<html>
<body ng-controller="DetailsController">
<h1>Track Information</h1>

<div>
    <image height="200px" width="200px" ng-src="{{details.album.images[1].url}}"></image>

</div>

<div>
Name: {{details.name}}
</div>

<div>
    Album: {{details.album.name}}
</div>

<!--<div>
<a href="{{details.preview_url}}">Play</a>
</div>-->

<div ng-show="currentUser">
    Comment:

     <textarea placeholder="Comment" class="form-control"></textarea>


</div>


    <div class="media">
        <div class="media-left">



        <audio ng-src="{{details.preview_url | trusted}}" audioplayer controls >
    </audio>

<div ng-show="currentUser">
            <button class="btn btn-primary"
                    ng-click="model.favorite(details.preview_url)">
    <span ng-show="model.song.likes.indexOf(currentUser._id) > -1"
          class="glyphicon glyphicon-star"></span>
    <span ng-show="!model.song || !model.song.likes || model.song.likes.indexOf(currentUser._id) == -1"
          class="glyphicon glyphicon-star-empty"></span>
            </button>

</div>



        </div>

        <div ng-if="model.song.userLikes">
            <h4>Other Users that Like This Movie</h4>
            <ul>
                <li ng-repeat="user in model.song.userLikes">
                    <a href="#/profile/{{user.username}}">
                        {{user.username}}
                    </a>
                </li>
            </ul>
        </div>

</body>
</html>