<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<body>
<div class="container-fluid">
    <div class="row">
            <div class="row">
                <h1 class="page-header">Forms: Registration Form</h1>

                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="#/form">Forms</a></li>
                    <li role="presentation" class="active"><a href="#">Fields</a></li>
                </ul>

                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <br>
                            <label for="inputfirstname">First Name:</label></div>
                        <div class="col-sm-12">
                            <input type="text"  id="inputfirstname" placeholder="First Name">
                            <div class="pull-right text-nowrap">
                                <span class="glyphicon glyphicon-pencil btn btn-success"></span>
                                <span class="glyphicon glyphicon-plus btn btn-primary"></span>
                                <span class="glyphicon glyphicon-remove btn btn-danger"></span>
                                <span class="glyphicon glyphicon-align-justify btn btn-warning"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="inputlastname">Last Name:</label></div>
                        <div class="col-sm-12">
                            <input type="text"  id="inputlastname" placeholder="Last Name">
                            <div class="pull-right text-nowrap">
                                <span class="glyphicon glyphicon-pencil btn btn-success"></span>
                                <span class="glyphicon glyphicon-plus btn btn-primary"></span>
                                <span class="glyphicon glyphicon-remove btn btn-danger"></span>
                                <span class="glyphicon glyphicon-align-justify btn btn-warning"></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="inputdob">Date of Birth:</label></div>
                        <div class="col-sm-12">
                            <input type="date"  id="inputdob">
                            <div class="pull-right text-nowrap">
                                <span class="glyphicon glyphicon-pencil btn btn-success"></span>
                                <span class="glyphicon glyphicon-plus btn btn-primary"></span>
                                <span class="glyphicon glyphicon-remove btn btn-danger"></span>
                                <span class="glyphicon glyphicon-align-justify btn btn-warning"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Gender:</label></div>
                        <div class="col-sm-12">
                            <select>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                            <div class="pull-right text-nowrap">
                                <span class="glyphicon glyphicon-pencil btn btn-success"></span>
                                <span class="glyphicon glyphicon-plus btn btn-primary"></span>
                                <span class="glyphicon glyphicon-remove btn btn-danger"></span>
                                <span class="glyphicon glyphicon-align-justify btn btn-warning"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Roles:</label></div>

                        <div class="col-sm-12">
                            <label><input type="checkbox" name="role"/>User</label>
                            <div class="pull-right text-nowrap">
                                <span class="glyphicon glyphicon-pencil btn btn-success"></span>
                                <span class="glyphicon glyphicon-plus btn btn-primary"></span>
                                <span class="glyphicon glyphicon-remove btn btn-danger"></span>
                                <span class="glyphicon glyphicon-align-justify btn btn-warning"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label><input type="checkbox" name="role"/>Admin</label></div>
                        <div class="col-sm-12">
                            <label><input type="checkbox" name="role"/>Student</label></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>License Agreement:</label></div>

                        <div class="col-sm-12">
                            <input id="yes" type="radio" name="license"/> <label for="yes">Yes</label>
                            <label><input type="radio" name="license"/> No</label>
                            <div class="pull-right text-nowrap">
                                <span class="glyphicon glyphicon-pencil btn btn-success"></span>
                                <span class="glyphicon glyphicon-plus btn btn-primary"></span>
                                <span class="glyphicon glyphicon-remove btn btn-danger"></span>
                                <span class="glyphicon glyphicon-align-justify btn btn-warning"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Add New Field:</label></div>

                        <div class="col-sm-12">
                            <select>
                                <option name="text">Single Line Text</option>
                                <option name="date">Date</option>
                                <option name="dropdown">DropDown</option>
                                <option name="checkbox">CheckBox</option>
                                <option name="radio">Radio Button</option>
                                <option name="paragraph">Paragraph</option>
                            </select>
                            <div class="pull-right text-nowrap">
                                <span class="glyphicon glyphicon-plus btn btn-primary"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>

</body>
</html>

