
<html>

<body ng-controller="ProfileController">

<div class="container-fluid">
    <div class="row">
        <h1 class="page-header">Profile</h1>
        <div ng-show="model.message" class="alert alert-success" role="alert">
            {{model.message}}
        </div>

        <div align="center" ng-show="!model.self && !model.followed">
            <a ng-hide="model.edit" class="btn btn-primary" ng-click="model.followUser()">Follow</a>
        </div>

        <div align="center" ng-show="!model.self && model.followed">
            <a ng-hide="model.edit" class="btn btn-success" ng-click="model.unfollowUser()">following</a>
        </div>
        </br>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="uname"> UserName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-class="{'disabled': model.readonly}" placeholder="UserName" id="uname" ng-model="model.username">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="password">Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-class="{'disabled': model.readonly}" placeholder="Password" id="password" ng-model="model.password">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="fname">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-class="{'disabled': model.readonly}"placeholder="First Name" id="fname" ng-model="model.firstName">
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-2 control-label" for="lname">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-class="{'disabled': model.readonly}" placeholder="Last Name" id="lname" ng-model="model.lastName">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-class="{'disabled': model.readonly}" placeholder="youremail@domain.com" id="email" ng-model="model.email">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Phones</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-class="{'disabled': model.readonly}" placeholder="617888888"  ng-model="model.phones">
                </div>
            </div>

            <div class="form-group" ng-hide="model.readonly">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary form-control" ng-click="model.update(model.username,model.password,
                        model.firstName,model.lastName,model.email,model.phones)">Update</button>
                </div>
            </div></form></div>


            <div>
                <h2> Favorites</h2>
                <h6 ng-hide="model.songs">No favorites!</h6>
                <table class="table table-responsive" ng-show="model.songs">

                    <th>Song (click for song details)</th>
                    <th>Comment</th>

                    <tr ng-repeat="song in model.songs">
                        <td style="color: orange"><a href="#/details/{{song.songID}}">{{song.title}}</a></td>
                        <td>{{song.comment}}</td>
                    </tr>
                </table>
            </div>


    <div>
        <h3>People you follow: </h3>
        <h6 ng-hide="model.following">No one!</h6>
        <table class="table  table-responsive" ng-show="model.following">
           <!-- <thead>
            <th>People</th>
            </thead>-->
            <tr ng-repeat="user in model.following">
                <td style="color: orange"><a href="#/profile/{{user.following_userid}}">{{user.following_username}}</a></td>
            </tr>
        </table>
    </div>
    <div>
        <h3>People following you: </h3>
        <h6 ng-hide="model.followers">No one!</h6>
        <table class="table  table-responsive" ng-show="model.followers">
           <!-- <thead>
            <th>People</th>
            </thead>-->
            <tr ng-repeat="user in model.followers">
                <td style="color: orange"><a href="#/profile/{{user.follower_userid}}">{{user.follower_username}}</a></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>

