<div>
    <h2>Forms : Registration Form</h2>
</div>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/forms">Forms</a></li>
    <li role="presentation" class="active"><a href="#">Fields</a></li>
</ul>
<div class="top-buffer table">
    <form>
        <div class="form-group row">
            <label for="inputFirstName" class="col-sm-12">First Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control width-controlled" id="inputFirstName"
                       placeholder="First Name">
            </div>
            <div class="col-sm-3 nowrap-button">
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputLastName" class="col-sm-12">Last Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control width-controlled" id="inputLastName"
                       placeholder="Last Name">
            </div>
            <div class="col-sm-3 nowrap-button">
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDateOfBirth" class="col-sm-12">Date Of Birth</label>
            <div class="col-sm-9">
                <input type="date" class="form-control width-controlled" id="inputDateOfBirth">
            </div>
            <div class="col-sm-3 nowrap-button">
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputGender" class="col-sm-12">Gender</label>
            <div class="dropdown col-sm-9">
                <button class="btn btn-default dropdown-toggle" type="button" id="inputGender"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Male
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li value="MALE"><a href="#">Male</a></li>
                    <li value="FEMALE"><a href="#">Female</a></li>
                </ul>
            </div>
            <div class="col-sm-3 nowrap-button">
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12">Roles</label>
            <div class="col-sm-9">
                <label for="inputAdminCheckbox">
                    <input type="checkbox" id="inputAdminCheckbox">
                </label> Admin <br>
                <label for="inputStudentCheckbox">
                    <input type="checkbox" id="inputStudentCheckbox">
                </label> Student <br>
                <label for="inputUserCheckbox">
                    <input type="checkbox" id="inputUserCheckbox">
                </label> User<br>
            </div>
            <div class="col-sm-3 nowrap-button">
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12">License Agreement</label><br>
            <div class="col-sm-9">
                <label for="inputLicenseAgreeYes">
                    <input type="radio" value="user" name="LicenceAgree" id="inputLicenseAgreeYes">
                </label> Yes <br>
                <label for="inputLicenseAgreeNo">
                    <input type="radio" value="user" name="LicenceAgree" id="inputLicenseAgreeNo">
                </label> No <br>
            </div>
            <div class="col-sm-3 nowrap-button">
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="#" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="#" class="btn btn-info">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <label for="inputRenderElement" class="col-sm-12">Add New Field</label>
            <div class="dropdown col-sm-9">
                <button class="btn btn-default dropdown-toggle" type="button" id="inputRenderElement"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Single Line Text
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li value="singleLineTxt"><a href="#">Single Line Text</a></li>
                    <li value="dataField"><a href="#">Date Field</a></li>
                    <li value="dropDown"><a href="#">Dropdown Field</a></li>
                    <li value="checkBoxField"><a href="#">Checkboxes Field</a></li>
                    <li value="radioButton"><a href="#">Radio Button Field</a></li>
                </ul>
            </div>
            <div class="col-sm-3 nowrap-button">
                <a href="#" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </form>
</div>