<html>
<body ng-controller="CreatePlaylist">
<div class="container-fluid">
    <div class="row">
        <h1 class="page-header">Create your Playlist here</h1>
        <div ng-show="message" class="alert alert-success" role="alert">{{message}}</div>
        <form class="form-horizontal">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="pName"> Playlist Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Playlist Name" id="pName" ng-model="playlist.Name">
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label" for="cDate"> Create Date </label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="cDate" ng-model="playlist.createDate">
                    <input type="time" class="form-control"  ng-model="playlist.createTime">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Desc">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="Desc" row="8" ng-model="playlist.desc"></textarea>
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a class="btn btn-primary" role="button" ng-click="createPlaylist(playlist)">Create Playlist</a>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>



