/* add a right padding */

.add-right-pad{
    padding-right: 5px;
}

.add-under-line{
    text-decoration: underline;
}


.check-sidebar {
    display: none;
}

@media (max-width: 768px)
{
    .check-sidebar {
        display: block;
    }
}

.text-nowrap{
    white-space: nowrap;
}
