<html>
<body ng-controller="MyPlaylists">
<h1>{{currentUser.firstName}}'s Playlists</h1>
<div ng-show="alertMessage" class="alert alert-danger" role="alert">{{alertMessage}}</div>
<table class="table table-responsive table-stripped">
    <tr>
        <th>PlaylistName</th>
        <th>Action</th>
    </tr>

    <tr>
        <td><input type="text" placeholder="Playlist Name" class="form-control" ng-model="playlistSelected.pName"></td>


        <td class="text-nowrap">
            <button type="button" class="btn btn-success" ng-click="updatePlaylist(playlistSelected)">
                <span class="glyphicon glyphicon-ok"></span>
            </button></td>
    </tr>

    <tr ng-repeat="p in playlists">
        <td>{{p.pName}}</td>
        <td>
            <a ng-click="deletePlaylist($index)"><span class="glyphicon glyphicon-remove"></span></a>
            <a ng-click="selectPlaylist($index)"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </td>
    </tr>

</table>
</body>
</html>