<!DOCTYPE html>
<html lang="en">
<body>
<div class="container-fluid">
    <div class="main">
        <h1>Forms</h1>

        <ul class="nav nav-tabs">
            <li role="presentation"><a class="tabText" href="#/forms">Forms</a></li>
            <li role="presentation" class="active"><a class="tabText">Fields</a></li>
        </ul>
        <div ng-show="model.message" class="alert alert-success">{{model.message}}
        </div>
        <div class="container-fluid">
            <div ng-show="model.existingFields" jga-sortable  jga-sortable-callback = "model.sortField(start,end)">

                <div ng-repeat="field in model.existingFields" class="row topForm">

                    <div class="col-xs-6">
                        <form>
                            <div class="form-group">
                                <label class="text-nowrap" >{{field.label}}</label>

                                <div ng-switch on="field.type">
                                    <input class="text-nowrap" ng-switch-when="TEXT" type="text" placeholder={{field.placeholder}}>
                                    <textarea ng-switch-when="TEXTAREA" class="form-control" rows="3" placeholder={{field.placeholder}}></textarea>
                                    <input ng-switch-when="DATE" type="date">
                                    <input ng-switch-when="EMAIL" type="email" placeholder={{field.placeholder}}>
                                    <select ng-switch-when="OPTIONS">
                                        <option ng-repeat="option in field.options track by $index">{{option.label}}</option>
                                    </select>
                                    <div class="checkbox" ng-switch-when="CHECKBOXES">
                                        <label ng-repeat="option in field.options track by $index">
                                            <input type="checkbox" value="{{option.value}}">{{option.label}}
                                        </label>
                                    </div>
                                    <div class="radio" ng-switch-when="RADIOS">
                                        <label ng-repeat="option in field.options track by $index">
                                            <input type="radio" value="{{option.value}}">{{option.label}}
                                            <br>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div class="text-nowrap" class="col-xs-6">
                        <button ng-click="model.editField(field)" data-toggle="modal" href="#"
                                class="btn btn-primary glyphicon glyphicon-pencil" data-target="#myEdit">
                        </button>
                        <button ng-click="model.cloneField(field)" href="#"
                                class="btn btn-success glyphicon glyphicon-plus" data-target="#">
                        </button>
                        <button ng-click="model.removeField(field)" href="#"
                                class="glyphicon glyphicon-remove btn btn-danger">
                        </button>
                        <a class="btn btn-info"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                        </a>

                    </div>
                </div>
            </div>

            <div id="myEdit" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss ="modal">&times;</button>
                            <h4 class="modal-title">{{model.selectedField.label}}</h4>
                        </div>

                        <div class="modal-body">
                            <form> 
                                <div class="form-group">
                                    <label>Label</label>
                                    <input ng-model = "model.label" class="form-control" type="text" placeholder="Edit Label">
                                </div>

                                <div class="form-group" ng-show = "model.selectedField.placeholder">
                                    <label>Placeholder</label>
                                    <input ng-model = "model.placeholder" class="form-control" type="text" placeholder="Edit Placeholder">
                                </div>

                                <div class="form-group" ng-show="model.selectedField.options">
                                    <label>Options</label>
                                    <textarea ng-model="model.options" class="form-control" placeholder="Edit Options"></textarea>
                                </div>

                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="model.cancelField()" data-dismiss="modal">Close</button>
                            <button class="btn btn-default" ng-click="model.okayField()" data-dismiss="modal">Ok</button>
                        </div> 
                    </div> 
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-7">
            <form>
                <div class="form-group">
                    <label for="newForm">Add New Field:</label>
                    <select ng-model="model.fieldType" class="form-control" id="newForm">
                        <option>Single Line Text Field</option>
                        <option>Multi Line Text Field</option>
                        <option>Date Field</option>
                        <option>Dropdown Field</option>
                        <option>Checkboxes Field</option>
                        <option>Radio Buttons Field</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-xs-5">
            <button ng-click="model.addField(model.fieldType)" href="#" class="glyphicon glyphicon-plus
                        btn btn-primary"></button>
        </div>
    </div>
</div> <!-- End of main -->

</body>
</html>