<body>
<div class="container" ng-controller="SearchController">
    <h1>Search Events</h1>

    <div class="row">
        <div class="col-xs-6">
            <h2>Search</h2>
            <input ng-model="event" id="eventID" class="form-control" placeholder="Music"/>
            <br>
            <a class="btn btn-primary" role="button" ng-click="searchEvent(event)">Search</a>
        </div>
    </div>

    <section ng-show="searchResult">
        <h3 class="text-uppercase">{{eventToSearch}} Events</h3>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Image</th>
                <th>Event</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in searchResult.events">
                    <td class="col-lg-4"><image height="100px" width="100px" ng-src="{{event.logo.url}}"></image></td>
                    <td class="col-lg-4">
                        <a href="#/details/{{event.id}}">{{event.name.text}}</a></td>
                    <td class="col-lg-4">{{event.start.local}}</td>
                    <td class="col-lg-4">{{event.end.local}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
</body>