<html>
<body ng-controller="AdminController">

<div class="container-fluid">
    <div class="row">

        <h1>Admin</h1>
        <h3>Users</h3>
        <table class="table table-responsive table-striped table-bordered">
            <tr>
                <th bgcolor="gray" class="text-nowrap">
                    <a href ="" ng-click="sortType ='username';model.userSort(model.sortOnUsername)">
                        <span ng-show="sortType == 'username' && model.ascending" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'username' && !model.ascending" class="glyphicon glyphicon-triangle-bottom"></span>
                        Username
                    </a>
                </th>

                <th bgcolor="gray">
                    Password
                </th>

                <th bgcolor="gray" class="text-nowrap">
                    <a href="" ng-click="sortType ='firstName'; model.userSort(model.sortOnFirstName)">
                        <span ng-show="sortType == 'firstName' &&  model.ascending" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'firstName' && !model.ascending" class="glyphicon glyphicon-triangle-bottom"></span>
                        First Name
                    </a>

                </th>

                <th bgcolor="gray" class="text-nowrap">
                    <a href="" ng-click="sortType = 'lastName'; model.userSort(model.sortOnFirstName)">
                        <span ng-show="sortType == 'lastName' &&  model.ascending" class="glyphicon glyphicon-triangle-top"></span>
                        <span ng-show="sortType == 'lastName' && !model.ascending" class="glyphicon glyphicon-triangle-bottom"></span>
                        Last Name
                    </a>
                </th>

                <th bgcolor="gray">
                    Roles
                </th>

                <th bgcolor="gray">
                    Action
                </th>
            </tr>

            <tr>
                <td> <input type="text" placeholder="username" class="form-control"
                            ng-model="model.username"></td>
                <td> <input type="password" placeholder="password" class="form-control"
                            ng-model="model.password"></td>

                <td> <input type="text" placeholder="First Name" class="form-control"
                            ng-model="model.firstName"></td>

                <td> <input type="text" placeholder="Last Name" class="form-control"
                            ng-model="model.lastName"></td>

                <td> <input type="text" placeholder="Roles" class="form-control"
                            ng-model="model.roles"></td>
                <td class="text-nowrap">
                    <button type="button" class="btn btn-primary add-right-pad">
                        <span class="glyphicon glyphicon-plus" ng-click="model.addUser(model.username,model.password,model.firstName,model.lastName,model.roles)"></span>
                    </button>
                    <button type="button" class="btn btn-success" ng-click="model.updateUser(model.username,model.password,model.firstName,model.lastName,model.roles)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button></td>
            </tr>

            <tr ng-repeat="user in model.allUsers">
                <td>{{user.username}}</td>
                <td>&nbsp;</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.roles.join(",")}}</td>
                <td class="text-nowrap">
                    <button type="button" class="btn btn-danger add-right-pad" ng-click="model.deleteUser($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-info add-right-pad" ng-click="model.selectUser($index)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>

        </table>
    </div>
</div>

</body>
</html>

