<body>

<div class="container-fluid">
    <div class="row">

            <h1>Admin</h1>
            <h3>Users</h3>

            <div class="table-responsive">
              <table class="table table-striped table-hover table-bordered table-condensed">

                <tr>
                    <th bgcolor="gray">
                        <a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        Username
                    </th>

                    <th bgcolor="gray">
                        <a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                        Password
                    </th>
                    <th bgcolor="gray">
                        <a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        Role
                    </th>
                    <th bgcolor="gray">
                        <a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                        Action
                    </th>
                </tr>

                <tr>
                    <td> <input type="text" placeholder="username" class="form-control"></td>
                    <td> <input type="password" placeholder="password" class="form-control"></td>
                    <td> <input type="text" placeholder="role1,role2" class="form-control"></td>
                    <td class="text-nowrap">
                        <button type="button" class="btn btn-primary add-right-pad">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button></td>
                </tr>

                <tr>
                    <td>alice</td>
                    <td>&nbsp;</td>
                    <td>student</td>
                    <td class="text-nowrap">
                        <button type="button" class="btn btn-danger add-right-pad">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-info add-right-pad">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>

                  <tr>
                    <td>bob</td>
                    <td>&nbsp;</td>
                    <td> faculty|student</td>
                    <td class="text-nowrap">
                        <button type="button" class="btn btn-danger add-right-pad">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-info add-right-pad">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>

                  <tr>
                    <td>charlie</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="text-nowrap">
                        <button type="button" class="btn btn-danger add-right-pad">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-info add-right-pad">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>

              </table>
            </div>
    </div>
</div>

</body>
</html>

