<html>
<body ng-controller="MyEvents">
<h1>{{currentUser.firstName}} your events are</h1>
<div ng-show="alertMessage" class="alert alert-danger" role="alert">{{alertMessage}}</div>
<table class="table table-responsive table-stripped">
    <tr>
        <th>EventName</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Action</th>
    </tr>

    <tr>
        <td><input type="text" placeholder="Event Name" class="form-control" ng-model="eventSelected.eName"></td>
        <td><input type="date" placeholder="Start Date" class="form-control" ng-model="eventSelected.sDate"></td>
        <td><input type="date" placeholder="End Date" class="form-control" ng-model="eventSelected.edate"></td>

        <td class="text-nowrap">
            <button type="button" class="btn btn-success" ng-click="updateEvent(eventSelected)">
                <span class="glyphicon glyphicon-ok"></span>
            </button></td>
    </tr>

    <tr ng-repeat="eve in events">
        <td>{{eve.eName}}</td>
        <td>{{eve.sDate}}</td>
        <td>{{eve.eDate}}</td>
        <td>
            <a ng-click="deleteEvent($index)"><span class="glyphicon glyphicon-remove"></span></a>
            <a ng-click="selectEvent($index)"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </td>
    </tr>

</table>
</body>
</html>