<body>
<div class="container" ng-controller="SearchController">
    <h1 class="page-header">Search Tracks</h1>

    <div class="row">
        <div class="col-xs-6" align="center">

            <input ng-model="model.track" id="trackID" class="form-control" placeholder="Track Name"/>
            <br>
            <a class="btn btn-primary form-control" role="button" ng-click="model.searchTrack(model.track)">Search</a>
        </div>
    </div>

    <section ng-show="model.searchResult">
        <h3 class="text-uppercase">Track List</h3>
        <table class="table  table-responsive">
            <thead>
            <tr>
                <th>Name of the Track</th>
                <th>Preview</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="track in model.searchResult.tracks.items">
                <td>{{track.name}}</td>
                <td>

                    <a href="#/details/{{track.id}}">Details</a></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>